:root {
	--dark: #181818;
	--light: #edf2f4;
	--danger: #ef233c;
	--success: #3cef25;
	--primary: #253cef;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--dark);
	color: var(--light);
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0px;

	font-size: 2rem;
	line-height: 3rem;
}

.up {
	margin-bottom: 36px;
}

.info {
	display: flex;
	flex-direction: row;
	width: 100vw;
	margin-bottom: 14px;
}

.info>span:nth-child(1) {
	flex-basis: 60%;
}

.info>span:nth-child(2),
span:nth-child(3) {
	flex-basis: 20%;
}

#board {
	display: grid;
	grid-template-columns: repeat(6, minmax(0, 1fr));
	grid-template-rows: repeat(4, minmax(0, 1fr));

	font-size: 4rem;
	line-height: 4rem;
}

#board>div {
	padding: 32px;
	margin: 8px;
	background-color: var(--light);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#board>div:hover {
	scale: 1.1;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 400ms;
}

.activated {
	color: var(--dark);
}

.hide {
	background-color: var(--dark) !important;
}