input[type=text],
input[type=email],
input[type=datalist],
input[type=date],
input[type=password],
textarea {
    background-color: var(--white);
    border: 4px solid var(--white);
    border-radius: 4px;
    padding: 6px;
    margin: 6px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=datalist]:focus,
input[type=date]:focus,
input[type=password]:focus,
textarea:focus {
    background-color: var(--white);
    border: 4px solid var(--secondary);
    border-radius: 4px;
    padding: 6px;
    margin: 6px;
}

input[type=submit],
input[type=reset],
input[type=file] {
    background-color: var(--secondary);
    border: 4px solid var(--secondary);
    border-radius: 4px;
    padding: 6px;
    margin: 6px;
    color: var(--white);

}

input[type=submit]:hover,
input[type=reset]:hover {
    background-color: var(--white);
    border: 4px solid var(--secondary);
    border-radius: 4px;
    padding: 6px;
    margin: 6px;
    color: var(--secondary);
    cursor: pointer;
}

.form-field-parent {
    display: flex;
    flex-direction: row;
}

.green {
    color: green;
}

.red {
    color: red;
}