<web-app>
<servlet>
 <servlet-name>Login</servlet-name>
 <servlet-class>Login</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>Login</servlet-name>
 <url-pattern>/api/login</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>DB</servlet-name>
 <servlet-class>DB</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>DB</servlet-name>
 <url-pattern>/test</url-pattern>
</servlet-mapping>

</web-app>