<web-app>
   <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>Login</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Login</servlet-name>
      <url-pattern>/api/login</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>Record</servlet-name>
      <servlet-class>Record</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Record</servlet-name>
      <url-pattern>/api/record</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>ListRecords</servlet-name>
      <servlet-class>ListRecords</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>ListRecords</servlet-name>
      <url-pattern>/list-records</url-pattern>
   </servlet-mapping>
</web-app>